$white:#FFFFFF;
$white1:#FFFFFF;
$white2:#E5E5E5;
$white3:#CBCDCE;
$white4:#D0D2D3;
$white5:#BFC1C2;
$white6:#ABACAE;
$white7:#A8A8A8;
$white8:#8E8F91;
$white9:#6D6E70;
$white10:#707070;
$white11:#858585;
$white12: #DDDDDD;
$white13: #B2B2B2;
$black:#161616;
$black1:#212121;
$black2:#232323;
$black3:#2D2D2D;
$black4:#3F3F3F;
$black5:#565656;